<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Student</a></li>
        <li class="breadcrumb-item active" aria-current="page" id="title"></li>
    </ol>
</nav>
<div class="card">
    <div class="card-header">
        <i class='fas fa-table'></i> Detail
    </div>
    <div class="card-body">
        <p>Last Name</p>
        <p id = "lastname"></p>
        <p>First Name</p>
        <p id = "firstname"></p>
        <p>EnrollDate</p>
        <p id = "Enrolldate"></p>
        <h2>Thầy ơi em chưa biết kết bảng nên khúc này em làm không được.</h2>
    </div>
</div>