<div class="card text">
<div class="card-header">
    Leaf Rake
</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-2">
        <p>Name:</p>
        <p>Code:</p>
        <p>Description:</p>
        <p>Availability:</p>
        <p>Price:</p>
        <p>5 Star Rating:</p>
        </div>
        <div class="col-sm-3">
        <p>Leaf Rake</p>
        <p>GDN-0011</p>
        <p>Leaf rake with 48-inch wooden handle</p>
        <p>March 19, 2016</p>
        <p>$ 19.95</p>
        <p>3.2</p>
        </div>
        <div class="col-sm-7 MyImg">
        <img src="assets/img_1.png"/>
        </div>
    </div>
</div>
<div class="card-footer text-muted">
    <i class='fas fa-arrow-left'></i> Back
    <button type="button" class="btn btn-primary" (click) = 'addtocard()'>Add to card</button>
</div>
</div>