<div class="card">
    <div class="card-header">
        Gio Hang
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><img src="{{product.imgScr}}" class="ImageProduct"></th>
                    <th scope="col">{{product.name}}</th>
                    <th scope="col">{{product.price}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    