<form class="myForms">
        <div class="form-group">
          <label for="exampleInputEmail1">Họ và Tên</label>
          <input type="text" [(ngModel)]="sv.name" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Ngày sinh</label>
            <input type="date" [(ngModel)]="sv.dob" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Giới tính</label>
            <select class="gt">
                <option>--Chọn--</option>
                <option value = "Nữ">Nam</option>
                <option value = "Nam"> Nữ </option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Điểm</label>
            <input type="number" [(ngModel)]="sv.point" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div class="alert alert-danger" role="alert" id="kq">
            {{xeploai()}}
        </div>
</form>