<div class="card">
    <div class="card-header">
      List Product
    </div>
    <div class="card-body">
      <p>Fillter by:</p>
      <form class="form-inline MyFormFillter">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="fillter" placeholder="">
        </div>
      </form>
      <h2>Fillter by:</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><button type="button" class="btn btn-primary"(click) = 'AnHien()'>Hien Image</button></th>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Available</th>
            <th scope="col">Price</th>
            <th scope="col">5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let a of ListProduct'>
            <th scope="col"><img src="assets\{{a.imageUrl}}" class="ImageProduct" *ngIf='isShow'></th>
            <th scope="col">{{a.productName}}</th>
            <th scope="col">{{a.productCode}}</th>
            <th scope="col">{{a.productDate}}</th>
            <th scope="col">{{a.price}}</th>
            <th scope="col"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
