<div class="body">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active">Phan Hữu Luân</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">...</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/trangchulap04']">Lap04</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle lap05" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lap05
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['/hcn']">Bài 1.1</a>
                    <a class="dropdown-item" [routerLink]="['/xl']">Bài 1.2</a>
                    <a class="dropdown-item" [routerLink]="['/ttt']">Bài 2</a>
                    <a class="dropdown-item" [routerLink]="['/bh']">Bài 3</a>
                    <a class="dropdown-item" [routerLink]="['/kt']">Bài 4</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/film']">Lap06</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/themsinhvien']">Lap05_V2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/guitarshop']">Guitar Shop</a>
        </li>
    </ul>
</div>